* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0 auto 0;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

#main {
  max-width: 626px;
  margin: 64px auto 0;
  text-align: center;
}

h1 {
  font-size: 32px;
  font-family: "Dosis", sans-serif;
  font-weight: 400;
}

h1 span {
  font-weight: 800;
  color: #ee24ff;
}

p {
  display: block;
  margin: 16px auto 64px;
  max-width: 540px;
  font-size: 15px;
  line-height: 22px;
  color: #828282;
}
p span {
  color: #3f3d56;
  font-weight: 800;
}

.line {
  border: 1px solid #eceff2;
  width: 391px;
  margin: 0 auto 16px;
}

#footer {
  text-align: center;
  margin-bottom: 40px;
}

#footer a {
  text-decoration: none;
  color: #3f3d56;
  font-weight: 800;
}

#footer a + a {
  margin-left: 42px;
}

#wave {
  width: 100vw;
  height: 20vh;
  background: no-repeat bottom url("images/Wave.png");
  background-size: cover;
}
